.container {
    background-color: var(--bg-white);
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 250px;
}

.pop_noti_desc {
    margin: 16px 0px;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

.popup_noti_title {
    font-size: 20px;
    font-weight: bold;
}

.pop_noti_bot {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1023.98px) {
    .container {
        padding: 24px 8px;
    }
}