.container {
  background-color: var(--white);
  padding: 12px;
  border-radius: 8px;
}

.section {
  margin-bottom: 16px;
}

.section_title{
  font-size: 16px;
  font-weight: bold;
  border-bottom: solid 1px var(--grey_2);
}

.description p {
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.description {
  margin-top: 12px;
}

.description img {
  margin: 6px auto;
  border-radius: 6px;
  object-fit: cover;
}

.map_cnt {
  margin-top: 12px;
  width: 100%;
  aspect-ratio: 2 / 0.9;
  background-color: var(--bg-color);
}

.marker_item {
  background-color: #7266ba3f;
  padding: 16px;
  border-radius: 100%;
  position: relative;
}

.marker_item img {
  width: 20px;
  height: 20px;
}

.marker_card {
  position: absolute;
  z-index: 2;
  width: max-content;
  max-width: 230px;
  background-color: var(--white);
  top: calc(-100% - 16px);
  transform: translateX(-47%);
  padding: 6px 12px;
  border-radius: 6px;
  box-shadow: var(--box-shadow);
}

.marker_card_name {
  font-size: 14px;
  font-weight: 600;
}

.marker_card_address {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: var(--text-black);
  display: -webkit-box;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.more_map {
  color: var(--text-black);
  font-size: 15px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (max-width: 992px) and (min-width: 767px) {}

@media only screen and (max-width: 767px) {
  .map_cnt{
    aspect-ratio: 1 / 1;
  }
}