.container {
    margin: 24px 0px;
    padding: 12px;
    background-color: var(--bg-white);
}

.cover {
    width: 100%;
    padding-bottom: 30%;
    position: relative;
    background-color: var(--bg-color);
    margin-bottom: 84px;
}

.cover_image_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.cover_image {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
}

.cover_image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.detail_cnt {
    position: absolute;
    width: 100%;
    padding: 0px;
    z-index: 10;
    bottom: 0;
    transform: translateY(100%)
}

.detail {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.group_name {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.group_member {
    display: flex;
    align-items: center;
}

.group_member_count {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    margin-left: 6px;
}

.detail_right_join_btn {
    padding: 7px 40px;
    border-radius: 6px;
    text-transform: capitalize;
    color: var(--text-black);
    background-color: #C9C0FF;
}

.title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: var(--purple);
}

.body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.body_left {
    width: calc(66.4% - 6px);
}

.group_post_inp {
    margin-bottom: 12px;
}

.group_post_inp>p {
    margin-bottom: 12px;
}

.desc {
    width: calc(33.6% - 6px);
}

.desc_cnt {
    margin-top: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.desc_cnt span {
    font-weight: 600;
    color: #8C8C8C;
    cursor: pointer;
}
/* group information */
.information{
    width: 80vw;
    max-width: 620px;
    padding: 12px;
    height: 90vh;
    background-color: var(--bg-white);
}

/* end group information */

@media only screen and (max-width: 1023px) {
    .head_mobile,
    .head_mobile_back{
        background-color: transparent;
        box-shadow: none;
    }
    .container {
        margin: 0px;
        padding: 0px;
    }

    .cover {
        padding-bottom: 48%;
    }

    .detail_cnt {
        transform: translateY(55%);
        padding: 0px 12px;
    }

    .detail {
        background-color: var(--bg-white);
        padding: 16px 12px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
        border-radius: 16px;
        flex-direction: column;
    }
    .detail_right_join_btn{
        margin-top: 12px;
        width: 100%;
    }
    .body{
        flex-direction: column-reverse;
        padding: 0px 12px;
    }
    .body_left{
        width: 100%;
        margin-top: 12px;
    }
    .desc{
        width: 100%;
    }
    .desc_cnt{
        font-size: 14px;
        line-height: 18px;
    }
    .post_list_item > div{
        padding: 12px 0px;
    }
}