.chatLeft {
  width: 25%;
  border-right: 1px solid #ccc;
  height: 100%;
}

.leftHead {
  padding: 16px 16px 10px 16px;
  border-bottom: 1px solid #ccc;
  position: sticky;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--bg-white);
}
.leftHeadInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headBtnGroup {
  border: 1.5px solid #ccc;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}
.headBtnGroup > img {
  width: 16px;
  height: 16px;
}
.leftHeadTitle {
  display: flex;
  align-items: center;
}
.headText {
  font-size: 18px;
  font-weight: bold;
  margin-right: 4px;
}

.headTotal {
  font-size: 14px;
  font-weight: 700;
  color: var(--purple);
  padding: 2px 6px;
  background-color: #e3e0f1;
  border-radius: 24px;
}
.chatSearch > img {
  margin-right: 10px;
}
.chatSearch {
  margin-top: 16px;
  display: flex;
  padding: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.chatSearch > input {
  border: 0;
  width: 100%;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 16px;
}
.chatSearch > input::-webkit-input-placeholder {
  color: #b7c1cb;
}
.chatSearch:hover {
  border-color: var(--purple);
  box-shadow: 0 0 0 4px #e3e0f1;
}
.chatItem {
  padding: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.chatItem:hover {
  background-color: #e3e0f1;
  transition: all 0.3s;
}
.chatItem:not(:last-child) {
  border-bottom: 1px solid #ccc;
}
.itemTop {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.itemTopLeft {
  display: flex;
  align-items: center;
}
.itemDot {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  flex-shrink: 0;
  background-color: var(--purple);
  margin-right: 8px;
}
.itemUser {
  display: flex;
  align-items: center;
  gap: 8px;
  transition: all 0.3s;
}
.itemAva {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  background-color: #ccc;
  flex-shrink: 0;
}
.itemAva > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 100rem;
}
.itemActive {
  position: absolute;
  right: 10px;
  bottom: 0;
  transform: translateX(12px);
  width: 16px;
  height: 16px;
  border: 2px solid #fff;
  border-radius: 100rem;
  background-color: var(--green);
}
.itemName {
  font-weight: bold;
  color: var(--text-black);
}
.itemName,
.itemNameOrg {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.chatTimeAgo {
  flex-shrink: 0;
}
.itemNameOrg,
.chatTimeAgo {
  color: grey;
  font-weight: 500;
  font-size: 14px;
}

.itemBot {
  margin-top: 10px;
  color: grey;
  font-weight: 500;
  line-height: 1.5;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}
.chatLeftList {
  overflow-y: scroll;
  height: 100%;
}
.chatLeftList::-webkit-scrollbar {
  width: 2px;
  display: block;
}

.chatLeftList::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
@media only screen and (max-width: 1023px) {
  .chatLeft {
    width: 100%;
    flex-shrink: 0;
    transition: var(--trans);
  }
  .chatSearch {
    margin-top: 8px;
    padding: 8px;
  }
  .headText {
    font-size: 18px;
  }
  .headTotal {
    font-size: 12px;
  }
  .headBtnGroup > img {
    height: 12px;
    width: 12px;
  }
  .chatSearch > input {
    font-size: 14px;
  }
  .chatItem {
    padding: 8px 16px;
  }
  .itemName {
    font-size: 16px;
  }
  .chatTimeAgo {
    margin-top: 2px;
  }
  .itemBot {
    line-height: 1.4;
    font-size: 14px;
    margin-top: 8px;
  }
  .leftHead {
    padding: 10px 16px;
    border: 0;
  }
  .chatItem:not(:last-child) {
    border-bottom: 0px;
  }
  .itemNameOrg,
  .chatTimeAgo {
    font-size: 12px;
  }
}
