.title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: var(--black);
}

.choose_method {
    margin-top: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.choose_method span {
    background-color: var(--pink-momo);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: var(--bg-white);
}

.drawer_cnt {
    height: 100%;
    width: 360px;
    background-color: var(--bg-white);
    padding: 12px;
}

.method_item {
    padding: 4px 8px;
    margin: 4px 0px;
    width: max-content;
    /* cursor: pointer; */
    cursor: no-drop;
    border-radius: 4px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: var(--trans);
}