.container {
  padding-bottom: 12px;
  /* border-bottom: solid 2px var(--bg-color); */
  /* border-top: solid 2px var(--bg-color); */
  background-color: var(--grey_2);
  padding: 12px;
  border-radius: 8px;
  /* box-shadow: var(--box-shadow); */
}

.list_item {
  grid-gap: 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.bottom{
  margin-top: 18px;
  display: flex;
  justify-content: flex-end;
}
.bottom button{
  border-radius: 8px;
  font-size: 14px;
}
@media only screen and (max-width: 992px) and (min-width: 767px) {}

@media only screen and (max-width: 767px) {

  .list_item{
    grid-gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}