.container {
    padding: 12px;
    margin: 12px;
    background-color: var(--bg-white);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.left {
    width: calc(66.66% - 6px);
}
.left_cnt{
    width: 100%;
    padding-bottom: 100%;
}

.right {
    width: calc(33.33% - 6px);
    height: fit-content;
    background-color: var(--bg-white);
    padding: 6px;
    border-radius: 6px;
    box-shadow: var(--box-shadow);
}
.section_user{
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: solid 1px var(--bg-color);
}
.section_user > div > span{
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.section_org {
    border-bottom: solid 1px var(--bg-color);
    padding-bottom: 16px;
}

.right_org {
    display: flex;
    justify-content: space-between;
}

.right_org_img {
    width: 54px;
    height: 54px;
    background-color: var(--bg-color);
    border-radius: 6px;
    position: relative;
    border: solid 1px var(--bg-color);
}

.right_org_img img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    z-index: 1;
    object-fit: cover;
}

.right_org_name {
    width: calc(100% - 60px);
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

.right_branches {
    margin-top: 8px;
    position: relative;
}

.right_branch_default {
    padding: 8px 10px;
    box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 17px;
    cursor: pointer;
}

.map_icon,
.right_icon {
    width: 16px;
    height: 16px;
    transition: var(--trans);
}

.right_icon_ch {
    transform: rotate(90deg);
}

.branch_default_address {
    width: calc(100% - 38px);
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--text-black);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.right_org_list_branch {
    position: absolute;
    width: 100%;
    height: max-content;
    max-height: 250px;
    overflow-y: scroll;
    padding: 6px;
    margin-top: 18px;
    border-radius: 6px;
    background-color: var(--bg-white);
    box-shadow: var(--box-shadow);
    opacity: 0;
    visibility: hidden;
    transition: var(--trans);
    z-index: 10;
}

.branch_show {
    margin-top: 8px;
    opacity: 1;
    visibility: visible;
    transition: var(--trans);
}

.branch_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin-bottom: 4px;
    padding-bottom: 4px;
    border-bottom: solid 1px var(--bg-color);
}

.branch_item_check {
    align-items: center;
    border: 2px solid var(--black);
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    height: 20px;
    justify-content: center;
    margin-right: 6px;
    width: 20px;
}

.branch_item_check span {
    background-color: var(--purple);
    border-radius: 100px;
    height: 11px;
    width: 11px;
}

.branch_item_name {
    width: calc(100% - 26px);
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.branch_item_name span {
    font-weight: 600;
    margin-right: 4px;
}

.service_list {
    padding: 12px 0px;
    border-bottom: solid 0.5px var(--bg-color);
}

.service_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.service_right {
    width: calc(100% - 60px);
}

.service_name,
.service_quantity {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.service_quantity {
    margin-top: 12px;
}

.section_time {
    margin-top: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 10px;
    background-color: var(--bg-color);
    border-radius: 6px;
}

.section_time_left {
    display: flex;
    align-items: center;
}

.section_time_left img {
    width: 16px;
    height: 16px;
}

.section_time_text {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    margin-left: 8px;
}

.section_time_btn {
    flex-direction: row-reverse;
    align-items: center;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    padding: 0px;
    color: var(--purple);
}

.section_time_btn img {
    margin: 0px 0px 0px 6px;
}

.section_note {
    margin-top: 18px;
}

.note_textarea {
    padding: 12px;
    border-radius: 6px;
    border: solid 1px var(--bg-color);
    min-width: 100%;
    max-width: 100%;
    min-height: 164px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.section_payment {
    margin-top: 18px;
    padding-bottom: 12px;
    border-bottom: solid 1px var(--bg-color);
}

.section_payment_title {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.section_payment_mt {
    margin-top: 8px;
    padding: 4px 12px;
    color: var(--bg-white);
    background-color: var(--pink-momo);
    width: fit-content;
    font-weight: 700;
    font-size: 16px;
    border-radius: 6px;
}

.section_bill {
    margin-top: 18px;
}

.post_btn {
    margin-top: 12px;
    width: 100%;
    border-radius: 6px;
}

.open_voucher {
    display: flex;
    justify-content: flex-end;
}

.open_voucher_btn {
    background-color: transparent;
    color: var(--text-orange);
    padding: 6px 0px;
    flex-direction: row-reverse;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.open_voucher_btn img {
    margin: 0px 0px 0px 6px;
}

.booking_calc_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;
}

.booking_calc_item_left {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
}

.booking_calc_item_right {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

/* time picker */
.book_time_cnt {
    width: 80vw;
    max-width: 850px;
    background-color: var(--bg-white);
    padding: 12px;
    border-radius: 6px;
    height: max-content;
}

.book_time_top {
    display: flex;
    justify-content: space-between;
}

.book_time_top_left {
    width: calc(41.5% - 6px);
}

.book_time_top_left>div {
    border-radius: 6px;
    background-color: var(--bg-white);
    box-shadow: var(--box-shadow);
}

.book_time_top_right {
    width: calc(58.1% - 6px);
}

.book_time_bot {
    margin-top: 12px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.book_time_bot_btn {
    border-radius: 6px;
}
.marker_icon{
    transform: scale(0.8);
}
.org_maker{
    padding: 2px;
    border-radius: 4px;
    background-color: var(--bg-white);
    position: relative;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}
.org_maker::after{
    content: '';
    position: absolute;
    background-color: var(--bg-white);
    width: 14px;
    height: 14px;
    clip-path: polygon(100% 0, 0 0, 51% 65%);
    margin-left: calc(50% - 7px);
}
.org_maker_head{
    display: flex;
    align-items: center;
}
.org_maker_head_img{
    width: 32px;
    height: 32px;
    border-radius: 4px;
    position: relative;
}
.org_maker_head_img img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 4px;
}
.org_maker_head_de{
    margin-left: 4px;
}
.org_maker_head_name{
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    max-width: 182px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--text-black);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}
.org_maker_dis{
    display: flex;
    align-items: center;
}
.org_maker_dis span{
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: var(--red_2);
}
.org_maker_dis h4{
    margin-left: 4px;
}
.org_maker_address{
    width: 150px;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--text-black);
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

@media only screen and (max-width: 1023px) {
    .container {
        padding: 0px;
        margin: 0px;
    }

    .right {
        width: 100%;
        padding: 66px 12px 250px 12px;
        box-shadow: none;
    }

    .section_bill {
        margin-top: 0px;
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        z-index: 60;
        background-color: var(--bg-white);
        border-radius: 6px 6px 0px 0px;
        padding: 8px 12px 20px 12px;
        box-shadow: var(--box-shadow);
    }

    .book_time_cnt {
        width: 100%;
        padding: 66px 12px 150px 12px;
        max-width: unset;
    }
    .book_time_top{
        flex-direction: column;
    }
    .book_time_top_left{
        width: 100%;
        padding: 0px;
        box-shadow: none;
    }
    .book_time_top_left > div > div:first-child > div{
        margin: 0px;
    }
    .book_time_top_right{
        margin-top: 12px;
        width: 100%;
    }
    .book_time_bot{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        padding: 8px 12px 20px 12px;
        border-radius: 6px 6px 0px 0px;
        background-color: var(--bg-white);
        z-index: 60;
        box-shadow: var(--box-shadow);
    }
    .book_time_bot_btn{
        width: 100%;
    }

}