.voucher_page {
    padding: 36px;
    height: 100%;
}

.voucher_list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    overflow-y: unset;
}

.voucher_item {
    display: flex;
    border-radius: 16px;
    background-color: var(--bgWhite);
}

.voucher_item_left {
    width: 30%;
    flex-shrink: 0;
    position: relative;
    border-right: 1px dashed #ccc;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.voucher_item_left::before {
    content: "";
    position: absolute;
    right: -14px;
    bottom: -14px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 14px solid #f5f5f7;
    clip: rect(0, auto, 14px, auto);
}

.voucher_item_left::after {
    content: "";
    position: absolute;
    right: -14px;
    top: -14px;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 14px solid #f5f5f7;
    transform: rotate(180deg);
    clip: rect(0, auto, 14px, auto);
}

.voucher_item_right {
    padding: 16px;
    width: 70%;
}

.voucher_item_img {
    height: 132px;
    width: 100%;
    border-radius: 16px;
    overflow: hidden;
}

.voucher_item_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.voucher_item_expiry>p {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #1f1f1f;
    margin-top: 8px;
}

.voucher_item_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 24px;
}

.voucher_info_name {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: var(--purple);
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.voucher_info_price {
    font-weight: 700;
    font-size: 16px;
    color: #1f1f1f;
}

.voucher_info_price>p>span {
    font-weight: 700;
    font-size: 18px;
    color: var(--red-cl);
}

.voucher_item_btn {
    background-color: transparent;
    border: 1px solid var(--purple);
    color: var(--purple);
    font-size: 14px;
    font-weight: 700;
    padding: 6px 14px;
    border-radius: 8px;
    outline: 0;
    transition: all 0.3s ease;
    flex-shrink: 0;
}

.voucher_item_btn:hover {
    background-color: var(--purple);
    border: 1px solid transparent;
    transition: all 0.3s ease;
    color: #fff;
    opacity: 1;
}

.infinite-scroll-component {
    overflow: unset;
}

.vouvher_loadmore_wrap {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.load_item_cnt {
    height: 164px;
    border-radius: 16px;
    background-color: var(--bg-white);
    display: flex;
}

.load_item_left {
    height: 100%;
    width: 164px;
    padding: 16px;
}

.load_item_right {
    height: 100%;
    width: calc(100% - 164px);
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.load_item_right_item {
    width: 100%;
    height: calc(50% - 12px);
}

@media screen and (max-width: 1023.98px) {
    .voucher_list {
        grid-template-columns: 1fr;
        grid-gap: 16px;
    }

    .voucher_page {
        padding: 44px 12px 100px 12px;
        margin: 16px 0 0 0;
        background-color: #f5f5f7;
    }

    .voucher_item_img {
        height: 84px;
        background-color: #ccc;
    }

    .voucher_item_left {
        width: 30%;
        padding: 10px;
    }

    .voucher_item_right {
        width: 70%;
        padding: 10px;
    }

    .voucher_item_left::before {
        right: -8px;
        bottom: -8px;
        width: 8px;
        height: 8px;
        border: 8px solid #f5f5f7;
        clip: rect(0, auto, 8px, auto);
    }

    .voucher_item_left::after {
        right: -8px;
        top: -8px;
        width: 8px;
        height: 8px;
        border: 8px solid #f5f5f7;
        clip: rect(0, auto, 8px, auto);
    }

    .voucher_info_name {
        font-size: 12px;
    }

    .voucher_info_price p {
        font-size: 10px;
    }

    .voucher_info_price>p>span {
        font-size: 12px;
    }

    .voucher_item_expiry>p {
        font-size: 10px;
        margin-top: 4px;
        line-height: normal;
    }

    .voucher_item_btn {
        padding: 4px 8px;
        font-size: 10px;
    }

    .voucher_loadmore_btn {
        font-size: 12px;
        padding: 8px 16px;
        border-radius: 100px;
    }

    .voucher_loadmore_btn:hover {
        opacity: 1;
    }

    .load_item_cnt {
        height: 104px;
        border-radius: 16px;
        background-color: var(--bg-white);
        display: flex;
    }

    .load_item_left {
        height: 100%;
        width: 97px;
        padding: 10px;
    }

    .load_item_right {
        height: 100%;
        width: calc(100% - 104px);
        padding: 10px;
    }

    .load_item_right_item {
        height: calc(50% - 6px);
    }
}