.header{
    display: flex;
    padding: 20px 0px;
    background-color: var(--bgWhite);
}
.header_cnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_left img{
    height: 40px;
}
.header_right{
    width: calc(100% - 126px);
    height: 44px;
    /* background-color: burlywood; */
    padding-left: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_right_search{
    padding: 4px 0px;
    width: 45%;
    height: 100%;
    /* background-color: aquamarine; */
}
.header_right_search_input{
    width: 100%;
    height: 100%;
    padding: 4px 36px 4px 8px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    background-color: var(--grey_2);
    border-radius: 18px;
}