.map-cnt {
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.map__list-item {
    width: 100%;
    height: 132px;
    position: absolute;
    z-index: 10;
    bottom: 0;
    overflow-x: scroll;
}

.map__list-item .list {
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 100%;
    padding: 0px 8px;
}

.map__list-item .list li {
    height: 100%;
    padding: 8px 12px;
    width: 332px;
    margin-right: 8px;
}

.map__org-item {
    width: 100%;
    height: 100%;
    background-color: var(--bgWhite);
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 14%) -2px 1px 16px 0px;
    border-radius: 8px;
    transition: all 0.3s;
    display: flex;
    flex-direction: row;
}

.map__org-item:hover {
    margin-top: -8px;
}

.map__org-item-avt {
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.map__list-item .content {
    width: calc(100% - 120px);
    padding: 8px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.map__list-item .content .org-name {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: var(--text-black);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.map__org-item .org_address {
    display: flex;
    flex-direction: row;
}

.map__org-item .org_address img {
    width: 12px;
    height: 12px;
    margin-top: 3px;
}

.map__org-item .org_address span {
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
    color: grey;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.map__org-item .org_bot button {
    width: 49.5%;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--bgWhite);
    background-color: var(--purple);
    border-radius: 8px;
    border: solid 1px var(--purple);
    outline: none;
    padding: 4px 0px;
}

.map__org-item .org_bot button:nth-child(2) {
    background-color: var(--bgWhite);
    color: var(--purple);
}

/* remake map org */
.map_org_cnt {
    width: 100%;
    height: 100vh;
    position: relative;
}

.map_org_close {
    position: absolute;
    z-index: 10;
    top: 12px;
    right: 12px;
    border: none;
    outline: none;
    background-color: transparent;
}

.org_map_marker_item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.org_map_marker_item img {
    transform: scale(0.9);
}

.org_map_marker_item span {
    background-color: var(--bgWhite);
    box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.27);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-top: 6px;
}

.map_org_list_wrapper {
    position: absolute;
    overflow-y: scroll;
    height: 100%;
    width: 25%;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 12px;
}

.map_org_list_item {
    width: 100%;
    margin: 12px 0px;
}

.map_card_item {
    padding: 8px;
    background-color: var(--bgWhite);
    border-radius: 6px;
    box-shadow: 0px 0px 16px -1px rgb(0 0 0 / 27%);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.map_card_item_img {
    width: 84px;
    height: 84px;
    border-radius: 6px;
}

.map_card_item_detail {
    width: calc(100% - 84px);
    padding-left: 6px;
    display: flex;
    flex-direction: column;
}

.map_card_item_detail .name {
    font-size: 13.5px;
    line-height: 18px;
    font-weight: 700;
}

.map_card_item_detail .address {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    margin-top: 6px;
    color: var(--text-black);
}

.map_org_list_wrapper_mb {
    display: none;
}

@media only screen and (max-width: 1023px) {
    .map_org_list_wrapper {
        display: none;
    }

    .map_org_list_wrapper_mb {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 12px 0px;
        z-index: 2;
    }

    .map_card_item {
        margin: 0px 8px;
    }
}