.app_detail_cnt {
    width: 70vw;
    height: fit-content;
    max-height: 90vh;
    overflow-y: scroll;
    background-color: var(--bg-white);
    padding: 12px;
}

.app_detail_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: solid 1px var(--bg-color);
}

.app_detail_head button {
    border: none;
    outline: none;
    display: none;
    align-items: center;
    padding: 2px;
    background-color: transparent;
}

.app_detail_head_text {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}

.app_detail_head_time,
.app_detail_date {
    display: flex;
    align-items: center;
}

.app_detail_head_status {
    padding: 2px 4px;
    background-color: var(--text-orange);
    font-size: 12px;
    font-weight: 500;
    color: var(--bg-white);
    margin-left: 8px;
    border-radius: 6px;
}

.app_detail_date {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: var(--purple);
}

.app_detail_date span {
    font-size: 15px;
    font-weight: 600;
    margin-left: 2px;
}

.app_detail_date:first-child {
    margin-right: 12px;
}

.app_detail_body {
    padding: 12px 0px;
    display: flex;
    justify-content: space-between;
    height: calc(100% - 32px);
}

.app_detail_body_left,
.app_detail_body_right {
    width: calc(50% - 6px);
    border-radius: 8px;
    box-shadow: 0px 0px 16px -1px rgb(0 0 0 / 10%);
    padding: 8px;
    min-height: 100%;
    height: max-content;
}

.app_detail_title {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text-black);
    padding-bottom: 12px;
}

.app_services {
    margin-top: 12px;
}

.app_service_item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    padding-bottom: 6px;
    border-bottom: solid 1px var(--bg-color);
}

.app_service_item_img {
    width: 96px;
    height: 96px;
}

.app_service_item_img img {
    border-radius: 6px;
}

.app_service_item_de {
    width: calc(100% - 104px);
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service_name {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
}

.service_detail_item {
    display: flex;
}

.service_detail_item h5 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: grey;
    display: -webkit-box;
    font-size: 11px;
    font-weight: 700;
    line-height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.app_service_item_price {
    text-align: end;
    font-size: 16px;
    font-weight: 600;
    color: var(--text-orange);
}

.app_detail_body_right_section {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

.app_detail_body_right_text {
    font-size: 14px;
    left: 18px;
    font-weight: 600;
}

@media screen and (max-width: 1023.98px) {
    .app_detail_cnt {
        width: 100%;
        height: 100%;
        max-height: unset;
    }

    .app_detail_head {
        display: flex;
        flex-direction: column;
    }

    .app_detail_head_left {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
        background-color: var(--bg-white);
        position: fixed;
        top: 0;
        left: 0;
        padding: 4px 12px;
        box-shadow: 0px 0px 16px -1px rgb(0 0 0 / 10%);
    }

    .app_detail_head_text {
        line-height: 24px;
    }

    .mb_right {
        width: 24px;
        height: 24px;
    }

    .app_detail_head button {
        display: block;
        display: flex;
        align-items: center;
    }

    .app_detail_head_time {
        margin-top: 40px;
        width: 100%;
        justify-content: space-between;
    }

    .app_detail_body {
        flex-direction: column;
        height: max-content;
    }

    .app_detail_body_left,
    .app_detail_body_right {
        width: 100%;
        height: max-content;
        min-height: unset;
        margin-bottom: 12px;
    }

    .app_service_item_img {
        width: 72px;
        height: 72px;
    }

    .app_service_item_de {
        width: calc(100% - 80px);
        height: unset;
    }

    .service_name {
        font-size: 12px;
        line-height: 14px;
    }

    .service_detail_item {
        font-size: 12px;
    }

    .service_detail_item h4 {
        margin-left: 4px;
    }

    .service_detail_item h5 {
        font-size: 10px;
        line-height: 12px;
    }
}



/* .container {
    background-color: var(--bg-white);
    display: flex;
    flex-direction: column;
    height: 95vh;
    max-width: 520px;
    padding: 12px;
    position: relative;
    width: 70vw;
    overflow-y: hidden;
}

.body {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.status {
    padding: 18px 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    background-color: rgb(171, 211, 115);
}

.status img {
    width: 32px;
    height: 32px;
    margin-right: 8px;
}

.status_content {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: var(--bg-white);
    display: flex;
    flex-direction: column;
}

.info {
    margin-top: 12px;
    background-color: #FAFAFA;
    padding: 4px 12px;
    border-radius: 6px;
} */