.head {
    padding: 8px 12px;
    position: fixed;
    z-index: 10;
    background-color: var(--bg-white);
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}
.head button{
    padding: 0px;
    width: 35px;
    height: 44px;
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
}
.head_input{
    width: calc(100% - 35px);
}
.head_input_child{
    background-color: var(--bg-color);
    border-radius: 8px;
    box-shadow: none;
    font-size: 12px;
    font-weight: 600;
    font-weight: 500;
    height: 35px;
    padding: 0 12px 0 40px;
}
.container{
    margin: 24px 0px;
    padding: 6px;
    border-radius: 4px;
    background-color: var(--bg-white);
}
.province{
    position: relative;
    cursor: pointer;
    border-radius: 6px;
    overflow: hidden;
}
.province img{
    filter: brightness(80%);
    border-radius: 6px;
    transition: var(--trans);
}
.province:hover img{
    filter: brightness(100%);
    transform: scale(1.1);
    transition: var(--trans);
}
.province_item{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--bg-white);
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}
@media only screen and (max-width: 1023px) {
    .container{
        margin-top: 60px;
    }
}