/* right */
.skelton {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: absolute;
  border-radius: 6px;
}
.chatRight {
  width: 75%;
  position: relative;
  padding: 16px 0 16px 32px;
  /* overflow: scroll; */
}
.chatRightHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  border-bottom: 1px solid #ccc;
  background-color: var(--bg-white);
  z-index: 99;
}
.rightHeadUser {
  display: flex;
  align-items: center;
}
.rightUserAva {
  height: 48px;
  width: 48px;
  border-radius: 100px;
  background-color: #ccc;
  margin-right: 10px;
}
.rightUserName {
  display: flex;
  align-items: center;
}
.rightNameText {
  font-size: 18px;
  font-weight: 700;
  margin-right: 8px;
}
.rightUserContent > .rightUserOrg {
  font-size: 14px;
  color: gray;
  font-weight: 500;
}
.userStatus {
  padding: 4px 8px;
  background-color: #dbebe2;
  border-radius: 100px;
  display: flex;
  align-items: center;
}
.userStatus > span:first-child {
  width: 8px;
  display: inline-block;
  height: 8px;
  border-radius: 100px;
  background-color: var(--green);
  margin-right: 4px;
}
.userStatus > span:last-child {
  color: var(--green);
  font-size: 12px;
  font-weight: bold;
}
.rightHeadBtns {
  display: flex;
  gap: 8px;
}
.rightHeadBtn {
  border: 0;
  outline: none;
  padding: 8px 14px;
  border-radius: 8px;
  transition: all 0.3s;
}
.rightHeadBtn:hover {
  opacity: 0.7;
  transition: all 0.3s;
}
.rightHeadBtn > p {
  font-weight: bold;
  font-size: 16px;
}
.rightHeadBtn:nth-child(1) {
  color: var(--purple);
  background-color: #e3e0f1;
  display: flex;
  gap: 4px;
  align-items: center;
}
.rightHeadBtn:nth-child(2) {
  border: 1px solid #ccc;
  background-color: transparent;
  color: black;
}
.rightHeadBtn:nth-child(3) {
  color: #fff;
  background-color: var(--purple);
}

.chatListMessage {
  height: 100%;
  overflow-y: scroll;
  padding: 64px 32px 164px 0;
}
.chatListMessage::-webkit-scrollbar {
  width: 2px;
  display: block;
}

.chatListMessage::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
.chatListItem {
  display: flex;
  gap: 10px;
  width: 70%;
  margin-top: 16px;
}
.itemMessager {
  padding: 8px 16px;
  border-radius: 0 8px 8px 8px;
  background-color: #eeedf2;
  margin-top: 8px;
  line-height: 1.5;
  font-weight: 500;
  word-break: break-word;
  display: inline-block;
}
.chatListItem > .itemInfo > .itemName {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}
.chatListItem > .itemInfo > .itemName > p:first-child {
  font-size: 14px;
  font-weight: 700;
}
.chatListItem > .itemInfo > .itemName > p:last-child {
  font-size: 12px;
  font-weight: 500;
  color: grey;
}
.chatRightFoot {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(245, 245, 247, 0.8);
  backdrop-filter: blur(10px);
}
.inputChatWraper {
  border: 1px solid #ccc;
  margin: 8px 32px 16px 32px;
  border-radius: 8px;
  padding: 16px;
}
.inputChat {
  gap: 10px;
  display: flex;
}
.inputChat > textarea {
  width: 80%;
  border: 0;
  outline: 0;
  background-color: transparent;
  resize: none;
  font-size: 18px;
  font-weight: bold;
  max-height: 500px;
  overflow-y: scroll;
}
.footBtns {
  width: 20%;
  display: flex;
  align-items: flex-end;
}
.btnsWrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-gap: 8px;
  width: 100%;
}
.btnIcon {
  cursor: pointer;
  border: 0;
  background-color: unset;
  width: 24px;
  height: 24px;
}
.emojiPicker {
  position: absolute;
  bottom: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  transition: var(--trans);
}
.emojiPicker_active {
  bottom: 40px;
  opacity: 1;
  visibility: visible;
  transition: var(--trans);
}
.btnsWrap > .btnIcon:nth-child(1) {
  position: relative;
}
.itemAva {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  background-color: #ccc;
  flex-shrink: 0;
}
.itemAva > img,
.rightUserAva > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 100rem;
}
.itemActive {
  position: absolute;
  right: 10px;
  bottom: 0;
  transform: translateX(12px);
  width: 16px;
  height: 16px;
  border: 2px solid var(--bg-white);
  border-radius: 100rem;
  background-color: var(--green);
}
.rightHeadBack {
  display: none;
}

/* upload img */
.listUploadImg {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 16px;
  margin-bottom: 8px;
}
.imgItem {
  aspect-ratio: 1/1;
  position: relative;
}
.imgItem > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  overflow: hidden;
}
.removeImg {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  background-color: var(--purple);
  border-radius: 100%;
  cursor: pointer;
  padding: 6px;
}
.removeImg > img {
  width: 10px;
  height: 10px;
}
/* close upload img */

.btnScrollBot {
  position: absolute;
  bottom: 148px;
  left: 50%;
  transform: translateX(-50%);
  margin-right: 32px;
  width: max-content;
}

/* MOBILE */
@media screen and (max-width: 1023px) {
  .chatRight {
    width: 100%;
    height: 100%;
    padding: 0;
    /* flex-shrink: 0; */
    overflow-y: scroll;
  }
  .chatListItem {
    width: 100%;
  }
  .rightNameText {
    font-size: 16px;
  }
  .rightHeadBtns {
    display: none;
  }
  .itemMessager {
    font-size: 14px;
    line-height: 1.5;
  }
  .chatListMessage {
    margin-top: 74px;
    height: 100%;
    overflow-y: unset;
    padding: 0;
  }
  .inputChat {
    padding: 8px 16px;
    align-items: flex-end;
  }
  .inputChat > textarea {
    font-size: 14px;
    align-self: center;
    width: 75%;
  }
  .footBtnsSend {
    padding: 8px;
    font-size: 14px;
    background-color: transparent;
  }
  .chatRightHead {
    padding: 8px 16px;
    position: fixed;
    z-index: 999;
    transition: var(--trans);
  }
  .rightHeadBack {
    padding: 8px 8px 8px 0;
    margin-right: 4px;
    display: block;
  }
  .rightUserAva {
    width: 40px;
    height: 40px;
  }
  .itemAva {
    width: 32px;
    height: 32px;
  }
  .itemActive {
    width: 12px;
    height: 12px;
  }
  .btnIcon {
    width: 24px;
    height: 24px;
  }
  .footBtns {
    width: 25%;
  }
  .chatRightFoot {
    position: fixed;
    transition: var(--trans);
  }
  .inputChatWraper {
    margin: 8px 16px 16px 16px;
    padding: 0;
  }
  .listUploadImg {
    padding: 16px 16px 0 16px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .imgItem {
    width: 100%;
    height: unset;
    aspect-ratio: 1 / 1;
  }
}
