.container {
    width: 100%;
    height: fit-content;
    padding: 6px;
    border-bottom: solid 1px var(--bg-color);
}

.filter_title {
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.body_title {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--text-hover);
}

.price_cnt {
    padding: 8px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 8px;
}
.price_item{
    height: 34px;
}
.price_item input{
    padding: 8px 6px;
}
.price_invalid{
    margin: 4px;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: var(--red-cl);
}
.price_btn{
    width: 100%;
    border-radius: 6px;
}