.detail-voucher{
    position: relative;
    cursor: pointer;
}
.detail-voucher__title {
    color: var(--red_2);
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}
.detail-voucher__cnt{
    margin-top: 8px;
}
.detail-voucher__cnt-show{
    visibility: hidden;
    top: 60px;
    opacity: 0;
    position: absolute;
    z-index: 101;
    width: 450px;
    background-color: var(--white);
    transition: all .5s;
    box-shadow: 0px 10px 31px rgb(76 62 142 / 30%);
    border-radius: 6px;
    padding: 12px;
}
.detail-voucher__cnt-show-title{
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}
.detail-voucher__cnt-show-list-cnt{
    margin-top: 12px;
    height: fit-content;
    max-height: 420px;
    overflow-y: scroll;
}
.detail-voucher:hover .detail-voucher__cnt-show{
    display: block;
    visibility: visible;
    top: 40px;
    opacity: 1;
    transition: all .5s;
}
.voucher-show-item{
    padding: 6px;
}
.detail-voucher .cart-vouchers-list__item-right{
    padding: 8px;
}
.detail-voucher__cnt-list {
    display: flex;
    flex-wrap: wrap;
}

.detail-voucher__cnt-list-item {
    width: 25%;
    padding: 4px;
}

.voucher-mini-item {
    background-color: #fadfdf;
    position: relative;
    color: var(--red_2);
    padding: 2px 8px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.voucher-mini-item::after,
.voucher-mini-item::before {
    content: "";
    width: 6px;
    height: calc(100% - 5px);
    position: absolute;
    top: 2px;
    background-image: radial-gradient(#fff 2px, transparent 0);
    background-size: 6px 6px;
    background-position-x: -6px;
}
.voucher-mini-item::before{
    margin-left: -10px;
}
.voucher-mini-item::after{
    margin-left: 4px;
}
@media only screen and (max-width: 1023px) {
    .detail-voucher{
        background-color: var(--white);
        margin-top: 8px;
        padding: 12px;
        width: 100%;
    }
    .detail-voucher__cnt-list-item{
        width: 33.33%;
    }
    .detail-voucher__cnt-show{
        width: calc(100% - 24px);
        padding: 12px 8px;
        z-index: 101;
    }
    .voucher-show-item{
        padding: 0px;
        margin: 8px 0px;
    }
    .voucher-show-item .cart-vouchers-list__item{
        box-shadow: none;
        border: solid 1px var(--grey);
        padding: 6px 0px;
    }
}