.container_large {
    margin-top: 32px;
    padding: 12px;
    background-color: var(--bg-white);
}

.trend_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 12px;
}
.trend_list_video_thumb{
    cursor: pointer;
}
.trend_item_video_thumb{
    width: 100%;
    border-radius: 8px;
}