.container {
    position: relative;
    width: 100%;
    padding-bottom: 25%;
    background-color: var(--bg-color);
    margin-top: 76px;
    border-radius: 10px;
}

.img_thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: 2;
    border-radius: 10px;
}

.content {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 3;
    padding-left: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content_top {
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: var(--bg-purple);
}

.content_top span {
    color: var(--bg-white);
}

.content_desc {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.content_button {
    display: flex;
}

.content_button_icon {
    padding: 0px;
    width: 154px;
    height: 46px;
    border-radius: 0px;
    background-color: transparent;
    margin-right: 7px;
}

.content_button_icon img {
    width: 100%;
    height: 100%;
}