/* org detail */
.org_detail_cnt {
    margin-top: 32px;
    margin-left: 12px;
    pointer-events: fill;
    width: 25%;
    height: 90vh;
    background-color: #fff;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    border-radius: 8px;
    padding: 8px;
    position: relative;
}

.org_detail_head {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 8px;
}

.org_detail_head_btn {
    width: 32px;
    height: 32px;
    padding: 0px;
    border-radius: 100%;
    background-color: var(--bg-color);
}

.org_detail {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: var(--bg-white);
}

.org_detail_banners {
    width: 100%;
    padding-bottom: 50%;
    position: relative;
}

.org_banner_linear {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: transparent;
    box-shadow: inset 0px -50px 30px -15px #FFFFFF;
}

.org_banner_img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.org_banner_count {
    position: absolute;
    z-index: 3;
    background-color: var(--text-black);
    bottom: 8px;
    right: 8px;
    cursor: pointer;
    padding: 2px 4px;
    font-size: 12px;
    line-height: 14px;
    color: var(--bg-white);
    border-radius: 4px;
}

.org_detail_card {
    background-color: var(--bg-white);
    display: flex;
    justify-content: space-between;
}

.org_detail_avatar {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    background-color: var(--bg-color);
    position: relative;
}

.org_detail_avatar img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
}

.org_detail_info {
    width: calc(100% - 62px);
}

.org_name {
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
}

.org_address {
    margin: 4px 0px 8px 0px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
}

.org_exc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.org_exc_left,
.org_exc_item {
    display: flex;
    align-items: center;
}

.org_exc_left_btn {
    background-color: transparent;
    border: solid 1px var(--text-hover);
    color: var(--text-hover);
    padding: 3px 8px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}

.org_exc_item {
    margin-left: 4px;
}

.org_exc_item img {
    width: 14px;
    height: 14px;
}

.org_exc_item span {
    margin-left: 2px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
}

.org_exc_right {
    padding: 6px;
    background-color: var(--bg-color);
}

.org_section_title {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}

.org_time_word_head_icon {
    width: 20px;
    height: 20px;
    transition: var(--trans);
}

.time_icon_ch {
    transform: rotate(90deg);
    transition: var(--trans);
}

.org_time_word_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.org_time_word {
    margin: 8px 0px;
}

.org_time_word_body {
    height: 0px;
    overflow: hidden;
    transition: var(--trans);
}

.org_time_word_body_act {
    height: 152px;
    transition: var(--trans);
}

.org_list_time_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0px;
    padding: 2px 0px;
}

.time_day {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
}

.time_word {
    display: flex;
    font-size: 14px;
    line-height: 16px;
}

.time_word h4 {
    margin: 0px 6px;
}

.org_galleries {
    width: 100%;
    overflow-x: scroll;
    margin-top: 8px;
}

.org_galleries_list {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 8px 0px;
}

.org_gallery_item {
    width: 150px;
    height: 150px;
    background-color: var(--bg-color);
    margin-right: 8px;
    position: relative;
    border-radius: 6px;
}

.org_gallery_item_img {
    position: absolute;
    word-wrap: 100%;
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: cover;
    border-radius: 6px;
}

.org_special_par {
    margin-top: 8px;
    width: 100%;
    overflow-x: scroll;
}

.org_special_list {
    padding: 8px 0px;
    width: max-content;
    display: flex;
}

.org_special_item {
    width: 150px;
    margin-right: 8px;
}

.island_marker {
    padding: 2px 3px;
    background-color: var(--bg-white);
    font-size: 11px;
    line-height: 12px;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: var(--box-shadow);
}

.map_style_ctrl {
    position: fixed;
    bottom: 58%;
    transform: translateY(-50%);
    right: 0;
    z-index: 10;
    margin: 0px 9px 0px 0px;
    width: 40px;
    height: fit-content;
    background-color: var(--bg-white);
    border-radius: 4px;
}
.style_item{
    width: 100%;
    padding: 2.5px;
    cursor: pointer;
    border-radius: 4px;
    border: solid 1px var(--bg-white);
    transition: var(--trans);
}
.style_item img{
    width: 34px;
    height: 34px;
    object-fit: cover;
    border-radius: 4px;
}
.style_item:hover{
    transition: var(--trans);
    border: solid 1px var(--text-black);
}

/* end org detail */

/* cart item org */

/* end cart item org */
@media only screen and (max-width: 1023px) {
    .org_detail_cnt {
        margin: 0px;
        height: 80vh;
        width: 100%;
    }

    .org_gallery_item,
    .org_special_item {
        width: 164px;
    }
    .map_style_ctrl{
        bottom: 40%;
    }
}