.container {
    padding: 10px;
    background-color: var(--bg-white);
}

.title {
    display: flex;
    align-items: center;
}

.title_icon {
    margin-right: 6px;
}

.title h2 {
    color: var(--purple);
}

.body {
    margin: 24px 0 0 0px;
}
.body_top {
    padding: 0 12px;
}

.detail_item_cnt {
    height: 220px;
    padding: 0px 11px;
    border-radius: 10px;
    position: relative;
}
.detail_item_cnt_img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.slide_btn {
    width: 32px;
    height: 32px;
    padding: 0px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    position: absolute;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.body_top .slide_btn_prev {
    left: -16px;
}
.body_top .slide_btn_next {
    right: -16px;
}
.slide_btn_prev {
    left: -4px;
}
.slide_btn_next {
    right: -4px;
}

.body_bot {
    margin-top: 42px;
    width: 100%;
}

.topic_item {
    height: 276px;
    padding: 0px 12px;
    position: relative;
    border-radius: 10px;
}

.topic_item_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-radius: 10px;
}

.topic_item_desc {
    width: 60%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
    padding: 36px 0px 36px 12px;
    top: 0;
    background: linear-gradient(
        90deg,
        #f8ebd8 44.79%,
        rgba(255, 255, 255, 0) 100%
    );
    border-radius: 10px 0px 0px 10px;
}

.topic_item_desc_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #1f1f1f;
}

.topic_item_desc_content {
    margin-top: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.topic_item_btn {
    padding: 10px 26px;
    background-color: var(--bg-color);
    box-shadow: var(--box-shadow);
    border-radius: 6px;
    color: var(--tex-black);
    width: max-content;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

@media only screen and (max-width: 1023px) {
    .topic_item_btn {
        font-size: 14px;
        line-height: 22px;
        font-weight: 700;
    }
    .container {
        padding: 16px 0;
        margin: 16px 0;
    }
    .detail_item_cnt {
        height: 116px;
        padding: 0px 4px;
    }
    .body {
        margin-bottom: 0;
    }
    .detail_item_on {
        backdrop-filter: blur(10px);
    }
    .body_top{
        padding: 0px;
    }
    .body_bot {
        margin-top: 32px;
    }
    .topic_title {
        padding: 0 12px;
    }
    .topic_item {
        width: 100vw;
        padding: 0px;
        height: 180px;
        border-radius: 0px;
    }
    .topic_item:not(:last-child) {
        margin-bottom: 10px;
    }

    .topic_item_img {
        border-radius: 0px;
    }

    .topic_item_desc {
        border-radius: 0px;
        padding: 20px 0px 20px 16px;
    }

    .topic_item_desc_title {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    }
}
