.container {
    margin: 10px 0px;
}

.head,
.head_item a {
    display: flex;
    align-items: center;
}

.head_item {
    margin-right: 12px;
    cursor: pointer;
    font-size: 15px;
    line-height: 18px;
    font-weight: 600;
    color: var(--text-color);
    opacity: 0.6;
    transition: all .3s;
}

.head_item:hover {
    opacity: 1;
    transition: all .3s;
}

.head_item img {
    width: 18px;
    height: 18px;
}

.body {
    width: 100%;
    background-color: var(--bg-white);
    margin-top: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.body_left {
    width: 20%;
    padding: 12px 6px;
    border-right: solid 1px var(--bg-color);
}

.body_left_cate_name {
    transition: all .3s;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
}

.body_left_cate_name:hover {
    transition: all .3s;
    background-color: var(--bg-color);
}

.body_right {
    width: 80%;
    padding: 12px 12px 12px 6px;
}

.body_right_list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 12px;
}