.container {
    margin-top: 24px;
    padding: 10px;
    background-color: var(--bg-white);
}

.content {
    margin-top: 32px;
}

.product_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.link_item {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.link_item_img {
    width: 100%;
    height: 144px;
    border-radius: 10px;
    background-color: var(--bg-color);
    position: relative;
}

.link_item_img img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.link_item_cnt {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    padding: 16px;
}

.link_item_cate {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--bg-white);
}

.link_item_text {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--bg-white);
}