.container {
    margin-top: 24px;
    padding: 10px;
    background-color: var(--bg-white);
}

.content {
    margin-top: 32px;
}

.product_list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 24px;
}

.link_item {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.link_item_img {
    width: 100%;
    height: 144px;
    border-radius: 10px;
    background-color: var(--bg-color);
    position: relative;
    overflow: hidden;
}

.link_item_img img {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
}

.link_item_cnt {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: absolute;
    top: 0;
    padding: 16px;
}

.link_item_cate {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: var(--bg-white);
}

.link_item_text {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: var(--bg-white);
}

@media screen and (max-width: 767.98px) {
    .container {
        padding: 16px 12px;
        margin: 16px 0;
    }
    .product_list {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
    }

    .link_item_img {
        height: 100px;
        object-fit: cover;
    }
    .link_item_cate {
        font-size: 14px;
        line-height: 16px;
        font-weight: 500;
    }
    .content {
        margin-top: 16px;
    }
}
